head
  link(rel='stylesheet' href='style.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css')
body
  #navbar
    ul
      li #[a(href="#") #[i.fas.fa-home] #[span Home]]
      li
        a(href="#") #[i.fas.fa-shopping-cart] #[span Products]
        ul.navbar-maintree
          li #[a(href="#") #[i.fas.fa-fish] #[span Fish Supplies]]
          li #[a(href="#") #[i.fas.fa-crow] #[span Bird Supplies]]
          li #[a(href="#") #[i.fas.fa-cat] #[span Cat Supplies]]
          li #[a(href="#") #[i.fas.fa-dog] #[span Dog Supplies]]
      li
        a(href="#") #[i.fas.fa-hand-holding-heart] #[span Services]
        ul.navbar-maintree
          li #[a(href="#") #[i.fas.fa-bath] #[span Grooming]]
          li #[a(href="#") #[i.fas.fa-bone] #[span Boarding]]
      li
        a(href="#") #[i.fas.fa-map-marker-alt] #[span Locations &amp; Hours]
        ul.navbar-maintree
          li #[a(href="#") #[i.fas.fa-flag-usa] #[span North America]]
          li #[a(href="#") #[i.fas.fa-globe-europe] #[span Europe]]
      li
        a(href="#") #[i.fas.fa-search] #[span About Us]
        ul.navbar-maintree
          li #[a(href="#") #[i.fas.fa-users] #[span Our Team]]
          li #[a(href="#") #[i.fas.fa-envelope] #[span Contact Us]]